@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #ec0000;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

header nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 90px;
  padding-inline: 12vw;
  transition: 0.3s;
  z-index: 100;
}

header .logo {
  font-size: 20px;
  font-weight: 600;
  color: #ec0000;
  border-bottom: 2px solid rgb(206, 206, 206);
  padding: 0px 5px;
  height: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a {
  color: rgb(206, 206, 206);
  font-weight: 500;
  text-decoration: none;
  padding-inline: 15px;
  margin-inline: 20px;
  transition: 0.2s;
}

header nav ul li a:hover {
  color: rgb(255, 0, 166);
  border-top: 0.2rem solid rgb(255, 9, 9);
  border-bottom: 0.2rem solid rgb(255, 9, 9);
  padding: 0.5rem 0;
}

header button.nav-button {
  height: 35px;
  width: 75px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: #ff0081;
  box-shadow: rgba(233, 30, 99, 0.5);
}

header button.nav-button::after,
header button.nav-button::before {
  transition: all 0.2s ease-in-out;
}

header button.nav-button::before {
  z-index: -1;
  position: absolute;
  content: "";
  left: -2em;
  right: -2em;
  top: -2em;
  bottom: -2em;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    /*  */
      radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%, 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
    20% 20%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
    65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
    64% 70%, 80% 71%;
}

header button.nav-button:hover::before {
  background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%,
    100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%,
    100% 100%;
  background-size: 0% 0%;
  transition: background-position 0.5s ease-in-out,
    background-size 0.75s ease-in-out;
}

main {
  padding-inline: 10vw;
}

.section {
  padding-block: 15em;
}

#home {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
}

#home .text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
}

#home .text h5 {
  background-color: #ff0081;
  box-shadow: rgba(233, 30, 99, 0.5);
  color: white;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
  width: 140px;
}

#home .text h1 {
  font-size: 70px;
  font-weight: 600;
  color: white;
  margin-block: 20px;
}

#home .text p {
  border-bottom: 3px solid rgb(255, 0, 0);
  padding: 10px 0px;
  color: rgb(206, 206, 206);
}

#home button.home-button {
  top: 2rem;
  height: 35px;
  width: 85px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: #ff0081;
  box-shadow: rgba(233, 30, 99, 0.5);
}

#home button.home-button::after,
#home button.home-button::before {
  transition: all 0.2s ease-in-out;
}

#home button.home-button::before {
  z-index: -1;
  position: absolute;
  content: "";
  left: -2em;
  right: -2em;
  top: -2em;
  bottom: -2em;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    /*  */
      radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, white 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%, 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
    20% 20%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
    65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
    64% 70%, 80% 71%;
}

#home button.home-button:hover::before {
  background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%,
    100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%,
    100% 100%;
  background-size: 0% 0%;
  transition: background-position 0.5s ease-in-out,
    background-size 0.75s ease-in-out;
}

#home .image {
  margin: auto 0;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
}

#home .image img {
  width: 380px;
  height: 380px;
  object-fit: cover;
}

#about {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 60px 70px;
  width: 100%;
  height: 80vh;
  min-height: 400px;
}

#about .row {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  width: 100%;
  gap: 1rem;
}

#about h1 {
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  font-size: 50px;
}

#about h5 {
  text-align: start;
  font-size: 15px;
  color: #777;
  width: 80%;
  border-left: 1px solid red;
  padding: 10px 10px;
  font-weight: 100;
}

#about h5 .love {
  color: #e0115f;
  font-weight: 600;
}

#about h5 .bringing {
  color: #ff907a;
  font-weight: 600;
}

#about h5 .wtl {
  color: #ff00ff;
  font-weight: 600;
}

#about h5 .through {
  color: #97216a;
  font-weight: 600;
}

#about h5 .interactive {
  color: #ff009d;
  font-weight: 600;
}

#about h5 .comma {
  color: #ff009d;
  font-weight: 600;
}

#about h5 .vda {
  color: #ff8903;
  font-weight: 600;
}

#about h5 .memorable {
  color: #ff60c2;
  font-weight: 600;
}

#about h5 .experience {
  color: #ff7f50;
  font-weight: 600;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards-one {
  display: flex;
  justify-content: center;
}

.cards-two {
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.cards .html {
  background-color: #ff60c2;
}

.cards .css {
  background-color: #ff907a;
}

.cards .ux {
  background-color: #ff8903;
}

.cards .ui {
  background-color: #97216a;
}

.cards .figma {
  background-color: #ff00ff;
}

.cards .react {
  background-color: #ff7f50;
}

.cards .bootstrap {
  background-color: #e0115f;
}

.cards .JavaScript {
  background-color: #ff009d;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80px;
  width: 80px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.text {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 100;
}

.cards .card:hover {
  transform: scale(1.2);
}

.card-container:hover .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
}

#projects {
  padding-block: 60px 70px;
}

#projects h1 {
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
}

#projects h2 {
  color: rgb(206, 206, 206);
  font-weight: 100;
  border-bottom: 2px solid red;
  width: 50px;
  padding: 5px;
}

#projects h2:hover {
  color: #ff009d;
}

#projects .container {
  overflow: auto;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  width: 100%;
  padding: 0 15px;
}

#projects .card img {
  border-radius: 7px;
  margin: 1rem;
  width: 100%;
}

#footer {
  display: flex;
  padding-block: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#footer .contact-info {
  position: absolute;
  width: 25%;
  height: 300px;
  background-color: white;
  padding: 30px 30px;
  border-bottom: 3px solid rgb(255, 0, 43);
  display: flex;
  flex-direction: column;
  margin-top: -150px;
  margin-left: -650px;
}

#footer .contact-info h1 {
  color: #555555;
  margin-bottom: 10px;
  font-size: 3rem;
  margin-left: -82px;
}

#footer .contact-info h1 span {
  background-color: rgb(240, 161, 174);
  height: 40px;
  width: 50px;
  display: inline-block;
}

#footer .contact-info p {
  font-size: 14px;
  color: #777;
}

#footer .info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#footer .info .links a {
  text-decoration: none;
  display: flex;
  color: #000000;
  font-size: 10px;
}

#footer .info .links a:hover {
  color: #e0115f;
}

#footer .info .footer-social-icons {
  display: flex;
  gap: 5px;
  font-size: 19px;
}

#footer .info .icon {
  position: relative;
}

#footer .info .icon:hover {
  background-color: #ff0051;
  animation: bounce 0.4s linear;
  transition: 0.25s;
  border-radius: 50px;
  width: 30px;
  padding-left: 5px;
  transform: scale(1.2);
  z-index: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
#footer .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0d0d0d;
  width: 75%;
  height: 600px;
  color: white;
  border-bottom: 3px solid rgb(219, 60, 60);
  margin-right: -300px;
  padding-left: 150px;
}

#footer .contact-form h1 {
  margin-bottom: 5%;
}
#footer .form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
#footer .form-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
}
#footer .input-field {
  width: 50%;
  height: 55px;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 7px;
  padding-inline: 20px;
  outline: none;
  color: white;
}
#footer textarea {
  width: 100%;
  height: 200px;
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 15px 20px;
  outline: none;
  resize: none;
  color: white;
}

#footer textarea .subject {
  height: 100px;
}

#footer .form-button i {
  font-size: 15px;
  rotate: -45deg;
}

#footer .form-button a {
  text-decoration: none;
  color: #000000;
}

#footer button:hover {
  background-color: #ff0081;
  border: none;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-around;
    font-size: 10px;
  }

  header .logo {
    font-size: 12px;
    font-weight: 100;
  }
  header nav ul li a {
    color: #643f3f;
    text-decoration: none;
    padding-inline: 3px;
    margin-inline: 5px;
    border-radius: 4px;
  }

  header button.nav-button {
    display: none;
  }

  #home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 900px;
  }

  #home .text {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  #home .text h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  #home .text p {
    font-size: 16px;
    margin-bottom: 30px;
  }

  #home button.home-button {
    top: 50%;
  }

  #home .image {
    max-width: 100%;
    height: auto;
    flex-shrink: 1;
  }

  #home .image img {
    max-width: 100%;
    height: auto;
  }

  #about {
    padding-block: 40px 30px;
    height: auto;
  }

  #about .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #about h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  #about h5 {
    font-size: 15px;
    margin-bottom: 30px;
  }

  #about .cards .card {
    width: 70px;
    height: 70px;
  }

  #about .cards .card p.text {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 100;
  }

  #projects {
    padding-block: 40px 30px;
  }

  #projects h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  #projects .card {
    width: 100%;
    margin-bottom: 20px;
  }

  #projects .card img {
    width: 100%;
    height: auto;
  }

  #footer {
    display: block;
    align-items: center;
    padding-block: 40px 30px;
    max-width: 100%;
    text-align: center;
  }

  #footer .container {
    display: flex;
  }

  #footer .container .copyright {
    flex-basis: 100%;
    text-align: center;
    margin-top: 10px;
  }

  #footer .contact-info {
    width: 100vw;
    margin-top: 50px;
    margin-left: -20px;

    @media (max-width: 768px) {
      margin-top: 60px;
      height: 240px;
      width: 160px;
    }
  }

  #footer .contact-info h1 {
    font-size: 24px;
    margin-right: -80px;

    @media (max-width: 768px) {
      font-size: 15px;
    }
  }

  #footer .contact-info p {
    font-size: 14px;
    margin-bottom: -30px;

    @media (max-width: 768px) {
      font-size: 7px;
    }
  }

  #footer .info {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  #footer .info .links a {
    font-size: 14px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      font-size: 8px;
    }
  }

  #footer .info .footer-social-icons {
    font-size: 24px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      margin-top: -30px;
      font-size: 12px;
      margin-left: -70px;
    }
  }

  #footer .contact-form {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20vw;
    padding-left: 65px;
  }

  #footer .contact-form h1 {
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  #footer .form-control {
    width: 80%;
  }

  #footer .form-inputs {
    flex-direction: column;
  }

  #footer .input-field {
    width: 100%;
    height: 30px;
    font-size: 12px;
    padding: 0 15px;
  }

  #footer textarea {
    height: 100px;
    font-size: 12px;
    padding: 15px;
  }

  #footer .form-button i {
    font-size: 16px;
  }

  #footer .form-button a {
    font-size: 16px;
  }
}
